/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  text-align: center;
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--main-weight);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  margin-inline: auto;
  margin-block-start: 100px;
  margin-block-end: 100px;
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
  padding-block-start: 136px;
  max-width: 700px;
  font-family: var(--accent-font);
  color: var(--accent-color);
}

.header_title {
  line-height: 65px;
  text-decoration: none;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header_subtitle {
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 23px;
  margin-block-start: 20px;
  margin-block-end: 25px;
}

.header__theme-menu {
  display: flex;
  font-size: 14px;
  justify-content: center;
  margin-block-end: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 11.5px;
  margin-left: 18px;
}

.theme-menu__item {
  position: relative;
}

.theme-menu__button::after {
  display: block;
  position: absolute;
  content: "";
  background-color: var(--accent-color);
  opacity: 0.6;
  width: 100%;
  top: 17px;
  left: 4px;
  height: 2px;
  transition: scale 0.3s ease;
  transform-origin: 0;
  scale: 0;
}

.theme-menu__button:focus-visible::after {
  scale: 1;
}

.theme-menu__button {
  border: none;
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  background: transparent;
  transition: opacity 0.3s ease;
  line-height: 14px;
  appearance: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  width: 14px;
  height: 14px;
  position: absolute;
  top: 2px;
  left: -14px;
  animation: arrow 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  opacity: 0.6;
  outline: none;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.section {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  align-items: center;
  max-width: 700px;
  gap: 50px;
}

.card {
  position: relative;
  text-align: left;
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
  color: var(--accent-color);
}

.card_title {
  font-size: var(--main-size);
  line-height: 21px;
  padding: 5px 10px;
  font-variation-settings: "wght" var(--title-weight);
  border-bottom: 2px solid var(--border-color);
}

.images {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
  display: block;
}

.image-filter_grayscale {
  filter: grayscale(200%);
}

.image-filter_saturate {
  filter: saturate(300%) contrast(150%);
}

.image-filter_invert {
  filter: invert(90%);
}

.image-filter_bright {
  filter: brightness(70%);
}

.image-filter_contrast {
  filter: contrast(300%) brightness(150%);
}

.image-filter_blur {
  filter: blur(4px);
}

.image-filter_sepia {
  filter: sepia(50%);
}

.card_image {
  position: relative;
}

.libel {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  color: var(--accent-color);
  mix-blend-mode: hard-light;
  text-shadow: 0 0 1px var(--bg-color);
  opacity: 0.5;
  line-height: 14px;
  text-transform: uppercase;
}

@supports (-webkit-text-stroke: 1px var(--bg-color)) or
  (text-stroke: 1px var(--bg-color)) {
  .libel {
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
    text-shadow: none;
  }
}

.card_text {
  border-top: 2px solid var(--border-color);
  display: flex;
  flex-direction: column;
  gap: 27px;
  line-height: 21px;
  padding: 25px;
}

.text {
  font-size: var(--main-size);
  line-height: 21px;
}

.card_button {
  display: flex;
  align-items: center;
  padding-inline-end: 25px;
  padding-block-end: 25px;
  justify-content: end;
}

.button {
  display: flex;
  position: relative;
  background-color: transparent;
  padding: 9px 17px;
  border: 2px solid var(--border-color);
  align-items: center;
  justify-content: center;
  font-family: var(--accent-font);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  appearance: none;
  overflow: hidden;
}

.card__like-button {
  width: 130px;
  height: 38px;
}

.button__text {
  position: relative;
  font-size: 14px;
  color: var(--text-hover);
  mix-blend-mode: difference;
  line-height: 90%;
}

.button::before {
  content: "";
  position: absolute;
  background-color: var(--accent-color);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.button:hover::before {
  transform: translateX(0);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--accent-color);
}

.card__icon-button {
  border: none;
  background: transparent;
  height: 35px;
  padding: 0;
  margin-inline-end: 5px;
  appearance: none;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.button-save_as_a_memory {
  width: 335px;
  height: 55px;
  gap: 8px;
  background: var(--bg-color);
  margin-inline: auto;
  margin-block-end: 103px;
}

.floppy-icon {
  position: relative;
  width: 21px;
  height: 21px;
  color: var(--floppy-icon);
  mix-blend-mode: difference;
}

.dialog {
  position: fixed;
  max-width: 353px;
  padding: 30px;
  border: 2px solid var(--border-color);
  background: var(--bg-color);
  color: var(--accent-color);
  inset: 0;
}

.dialog::backdrop {
  opacity: 0.75;
  background-color: #000;
}

.dialog_content {
  display: flex;
  gap: 12px;
}

.dialog_text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
}

.floppy-icon_dialog {
  width: 39px;
  height: 39px;
  position: relative;
  color: var(--floppy-icon);
  mix-blend-mode: difference;
}

.button_dialog_ok {
  width: 293px;
  height: 38px;
  margin-block-start: 30px;
  text-transform: uppercase;
}

@media (width <=375px) {
  .header {
    padding-block-start: 120px;
  }

  .header_title {
    line-height: 49px;
  }

  .header_subtitle {
    line-height: 14px;
  }

  .libel {
    right: 13px;
  }

  .floppy-icon {
    width: 28px;
    height: 28px;
  }

  .dialog {
    padding-inline: 42px;
  }

  .button-save_as_a_memory {
    flex-direction: column;
    width: 306px;
    height: 84px;
  }

  .button_dialog_ok {
    width: 257px;
  }
}
